
@{
    ViewBag.Title = "Destination";
}

<h2>Destination</h2>
<h1>@TempData["receviedData"].ToString()</h1>
<form action="Destination" method="post">
    <input type="text" name="d" value="" />
    <input type="submit" name="name" value="click" />
</form>
