
@{
    ViewBag.Title = "Greet";
}

<h2>Greet</h2>

<h2>Hello  @ViewBag.username</h2>
<br/>
<form action="Greet" method="post">
    <label>Enter No1</label>
    <input type="text" name="no1" value="" />

    <br />
    <label>Enter No2</label>
    <input type="text" name="no2" value="" />

    <br />

    <input type="submit" name="GreetingPage" value="Submit" />

</form>

